.event-form {
  // display: flex;
  // flex-direction: column;
  width: 85%;
  max-width: 900px;
  margin: 20px auto;
  padding: 40px;
  font-size: 14px;
  box-sizing: content-box;
  
  .input-wrapper {
    width: 100%;
    height: 60px;
  }
}

.form-section {
  display: flex;
  padding: 20px 40px 40px 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid $lightest-gray;

  &:last-of-type {
    border-bottom: none;
  }

  .left {
    width: 10%;
    // border: 2px solid green;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }

  .right {
    display: flex;
    width: 90%;
    flex-direction: column;
    // border: 2px solid purple;

  }
  
  input {
    font-size: 16px;
  }

  input[type="select"] {
    appearance: none;
    border: none;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    color: $purple;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: $darker-gray;
    margin-bottom: 10px;
  }
}

.form-icon {
  // display: block;
  // border: 2px solid red;
  width: 100%;
  position: relative;
  padding: 10px;
  color: $lighter-gray;
}

.flex-row {
  display: flex;

  .input-wrapper {
    margin: 5px;
  }
}

.event-form-description {
  padding-bottom: 20px;
  margin-bottom: 0;
}

.description .input-wrapper {
  height: 200px;

  textarea {
    height: 180px;
    margin: 10px;
  }
}

.category .input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 24px;
  // color: $gray;
  // font-family: $sans-serif;

  select {
    color: $gray;
    font-family: $sans-serif;
    width: 100%;
    -webkit-appearance: button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
  }
}

.location-btn {
  box-sizing: border-box;
  height: 50px;
  padding: 15px 20px;
  border: 1px solid $lighter-gray;
  margin-right: 10px;
  margin-bottom: 5px;
  font-weight: 400;
  border-radius: 4px; 
  
  &.selected {
    color: #3d64ff;
    border: 1px solid #3d64ff;
    background-color: rgba(61, 100, 255, 0.1);
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    color: #3d64ff;
    border: 2px solid #3d64ff;
    background-color: rgba(61, 100, 255, 0.1);
    box-shadow: none;   
  }
}

.event-form-image {
  p {
    margin-bottom: 20px;
  }
}

.submit-btn {
  background-color: $orange;
  height: 50px;
  width: 150px;
  color: white;
  position: relative;
  float: right;
  margin-right: 40px;
  margin-bottom: 40px;

  &:hover {
    background-color: $lighter-orange;
  }
}

.red {
  color: $orange;
}

