.footer {
  height: 54px;
  background-color: $purple;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;

  .footer-icon {
    color: rgba(255, 255, 255, 0.5);
    width: 36px;
    height: 36px;
    margin: 9px 7px;
  
    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}