.splash-img {
  width: 60%;
  margin: 20px auto;
  position: absolute;
  right: 30px;
}

.splash-text-box {
  position: absolute;
  margin: 120px 50px;
}

.splash-text {
  font-weight: 900;
  font-size: 28px;
  color: $orange;
}

.splash-text-strong {
  font-weight: 900;
  font-size: 38px;
}

.splash-bg {
  z-index: -1;
  position: absolute;
  top: 120px;
  left: 100px;
  width: 900px;
  height: 25vw;
  background-color: $lightest-gray;
}

.splash-btn {
  display: block;
  width: 170px;
  height: 24px;
  padding: 12px 16px 12px 18px;
  color: white;
  background-color: $orange;
  border-radius: 25px;
  margin-top: 20px;
}

.splash-btn:hover{
  background-color: $lighter-orange;
}