.navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: white;
  box-shadow: 0px 0px 3px 1px rgba(230, 230, 230, 0.15);
  // border-bottom: $lighter-gray 1px solid; 
}

.logo {
  height: 30px;
  width: 120px;
  margin-left: 20px;

  &:hover {
    cursor: pointer;
  }
}

.auth-links{
  display: flex;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: $darkest-gray;
  }

  a:hover {
    background-color: $lightest-gray;
  }
}

.nav-links{
  display: flex;

  >a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: $darkest-gray;
  }

  >a:hover {
    background-color: $lightest-gray;
  }

  >a:first-of-type {
    width: 110px;
    margin-right: 10px;
  }

  >a:last-of-type {
    margin-left: 10px;
  }

  .create-event {
    color: $blue;
  }

  span {
    margin-top: 5px;
  }
}

.user-dropdown {
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;

  .user-icon{
    width: 20px;
    height: 20px;
    background-color: $lighter-gray;
    padding: 8px;
    border-radius: 36px;
    margin-right: 20px;
  }

  .down-icon{
    width: 20px;
    height: 20px;
    position: relative;
    top: -5px;
    color: $darker-gray;
  }

  &:hover {
    cursor: pointer;
    background-color: $lighter-gray;
  }

  &:hover .user-dropdown-list {
    display: block;
}
}

.user-dropdown-list {
  display: none;
  position: absolute;
  top: 72px;
  z-index: 2;
  background-color: white;
  float: right;
  box-shadow: 2px 2px 10px 2px rgba(160, 160, 160, 0.2);
  width: 250px;
  right: 0;

  li {
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;

    &:first-child {
      cursor: default;
    }
  }
  
  li:first-child {
    border-bottom: 1px solid $gray;
  }

  li:hover {
    background-color: rgb(240, 240, 240);

    &:first-child {
      background-color: white;
    }
  }
}

.user-info {
  display: flex;
  align-items: center;
  
  .user-icon-small{
    margin: 0 20px 0 10px;
    width: 15px;
    height: 15px;
    color: $darker-gray;
  }
  
  .user-info-name {
    font-weight: 700;
  }
  
  .user-info-email{
    font-size: 12px;
    color: $darker-gray;
  
    &:hover{
      color: $darkest-gray;
    }
  }
}


// .expand {
//   float: right;
//   box-shadow: 2px 2px 10px 2px rgba(160, 160, 160, 0.2);
//   width: 250px;
//   right: 0;
// }

// .collapse {
//   display: none;
// }