// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
  display: block;
  width: 350px;
  margin: 20px auto;

  a {
    margin: 10px 0;
    color: $blue;
    align-content: center;
  }

  .errors {
    text-align: center;
    color: $orange;
    font-size: 14px;
  }
}

.session-form-container svg {
  display: block;
  margin: 0 auto 20px auto;
}

.session-form-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}

.session-form-greeting {
  text-align: center;
  color: $gray;
  margin-bottom: 20px;
}

.input-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 45px;
  margin: 12px 0;
  border: 3px solid transparent;
  border-radius: 4px; 
  box-shadow: 0px 0px 1px rgb(190, 190, 190);
  
  label {
    margin: 5px 10px 2px 10px;
    font-size: 11px;
    font-weight: 500;
    color: $gray;
  }

  input {
    height: 2em;
    appearance: none;
    border: none;
  }
}

.input-wrapper:hover {
  box-shadow: 0px 0px 1px rgb(70, 70, 70);
}

.input-wrapper:focus-within {
  border: 2px solid #365AE4;
  box-shadow: 0px 0px 1px rgb(190, 190, 190);
  transition: border 0.3s;
}
.login-msg {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.name {
  display: flex;
  justify-content: space-between;

  .input-wrapper {
    width: 165px;
    margin: 0;
  }
}

.signup-btn, .login-btn {
  width: 100%;
  height: 45px;
  background-color: $orange;
  margin-top: 20px;
  color: white;
}

.signup-btn:hover, .login-btn:hover {
  background-color: $lighter-orange;
}

.demo-login-btn {
  width: 100%;
  height: 45px;
  background-color: $fb-blue;
  margin-top: 10px;
  color: white;
}

.demo-login-btn:hover {
  background-color: rgb(49, 138, 253);
}


.session-icon {
  color: $orange;
}
