$orange: rgb(215, 69, 20);
$lighter-orange: rgb(234, 81, 47);

$fb-blue: rgb(24, 119, 242);
$blue: rgb(61, 100, 255);

$navy: rgb(30, 10, 60);

$lightest-gray: rgb(248, 247, 250);
$lighter-gray: rgb(238, 237, 242);
$gray: rgb(111, 114, 135);
$darker-gray: rgb(57, 54, 79);

$purple: rgb(30, 10, 60);